<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <div class="max-w-3xl max-h-fit mt-5 bg-cyan-100 m-auto rounded-2xl">
        <div class="flex justify-between content-center pl-5">
            <a class="mt-5 text-2xl" href="/explore"><i class="ri-arrow-left-line"></i>Back </a>
            <p class="pr-5 text-3xl mt-5">Payment!</p>
        </div>
        <div class="flex justify-around content-center">
            <div class=" w-52 h-52 ">
                <img class="pl-10 mt-5 rounded-3xl"  src="https://images.unsplash.com/photo-1596462502278-27bfdc403348?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXR5JTIwcHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D" alt="">
            </div>
            <div class=" pt-10 font-bold text-2xl">
                <h3 ><span class="text-red-500">Product Name</span> :- Beauty of Skin</h3>
                <h3><span class="text-red-500">Brand:-</span> Gochii</h3>
                <span class="text-blue-500">Rs:-1999</span>
            </div>
            
        </div>
        <div class="bg-cyan-100 text-center mt-5 rounded-2xl" >
            <form  action="#">
                <input class="w-96 p-2 text-center rounded mb-2 mt-5"  type="text" name="" placeholder="Enter product quantity"><br>
                <input  class="w-96 p-2 text-center rounded mb-2" type="text" name="" placeholder="Enter product Color"><br>
                <input class="w-96 p-2 text-center rounded mb-2" type="text" name="" placeholder="Product coupon"><br>
                <div class=" mt-10  ">
                    <a class="bg-green-300 py-3 font-bold rounded-2xl px-6" href="#">Buy</a>
                   <a class="bg-yellow-500 py-3 font-bold rounded-2xl px-6" href="#">Add to cart</a>
                </div>
                <p class=" mt-10 text-3xl font-extrabold">Thank YOu 😍 !</p>
            </form>
        </div>

    </div>
    
</body>
</html>