<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class=" bg-blue-300 ">
        <h1 class="text-center bg-black text-white text-3xl font-bold">Welcome back</h1>
    </div>
    <div>
        <a class="text-4xl pl-4 " href="/mainpage"><i class="ri-arrow-left-line"></i></a>
    </div>
    <div class="flex justify-between item-center p-10">
        <div class=" w-80 h-96 ">
            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Fair lovely product</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class=" h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1594223274512-ad4803739b7c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJhZ3xlbnwwfHwwfHx8MA%3D%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$109 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>
        </div>
        <div class=" w-80 h-96 relative rounded-2xl">

            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10 ">
                <div class="px-4  py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Fair lovely product</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1584917865442-de89df76afd3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmFnfGVufDB8fDB8fHww"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$29 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>
        </div>
        <div class=" w-80 h-96">
            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1596462502278-27bfdc403348?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhdXR5JTIwcHJvZHVjdHxlbnwwfHwwfHx8MA%3D%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$19 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>
        </div>
        <div class=" w-80 h-96">
            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1567721913486-6585f069b332?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDN8fHxlbnwwfHx8fHw%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$29 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-between item-center p-10">
        <div class=" w-80 h-96">
            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1619451334792-150fd785ee74?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDR8fHxlbnwwfHx8fHw%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$9 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>
        </div>
        <div class="w-80 h-96">
            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1584949514123-474cfa705dfe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8fHw%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$54 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>
        </div>
        <div class=" w-80 h-96">

            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1556228578-0d85b1a4d571?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fHw%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$92 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>

        </div>
        <div class=" w-80 h-96">


            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1563804447971-6e113ab80713?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyfHx8ZW58MHx8fHx8"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$152 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>

        </div>
    </div>
    <div class="flex justify-between item-center p-10">
        <div class=" w-80 h-96">

            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1594332322527-08753d4473c1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE4fHx8ZW58MHx8fHx8"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$189 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>

        </div>
        <div class=" w-80 h-96">

            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1564594218151-a67498fb2922?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$195 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>

        </div>
        <div class=" w-80 h-96">

            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1615396899839-c99c121888b0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGJlYXV0eSUyMHByb2R1Y3QlMjBjcmVhbXxlbnwwfHwwfHx8MA%3D%3D"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$409 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>

        </div>
        <div class=" w-80 h-96">


            <div class="max-w-xs bg-white shadow-lg rounded-lg overflow-hidden my-10">
                <div class="px-4 py-2">
                    <h1 class="text-gray-900 font-bold text-3xl uppercase">Beauty Product of girl</h1>
                    <p class="text-gray-600 text-sm mt-1">Care of skin of beauty of girl can pretend to go with nature
                    </p>
                </div>
                <img class="h-40 w-full object-cover mt-2"
                    src="https://images.unsplash.com/photo-1580870069867-74c57ee1bb07?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8YmVhdXR5JTIwcHJvZHVjdCUyMGNyZWFtfGVufDB8fDB8fHww"
                    alt="image">
                <div class="flex items-center justify-between px-4 py-2 bg-gray-900">
                    <h1 class="text-gray-200 font-bold text-xl">$359 <a class="text-green-400" href="/buy">Buy</a></h1>
                    <a href="#" class="px-3 py-1 bg-gray-200 text-sm text-gray-900 font-semibold rounded">Add to
                        card</a>
                </div>
            </div>

        </div>
    </div>
</body>

</html>

<%- include('partials/footer')%>

